html {
  height: 100%;
  font: 62.5%/1.5 Myriad Pro, Helvetica, Arial, sans-serif;
  background: #FEFEFE;
}

input, li {
	font-size: 2em;
}

video {
	width: 250px;
	vertical-align: bottom;
}

ul {
	list-style: none;
	padding-left: 0;
}

.player {
	position: relative;
	display: inline-block;
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;
	}
	.controls button {
		font-weight: bold;
		font-size: 1.5em;
		cursor: pointer;
		}
	.controls .off {
		position: relative;
		}
		.controls .off:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			border-bottom: .15em solid #E61919;
			-webkit-transform: skew(-15deg,-15deg);
			}