:root {
	--background-color: #FEFEFE;
}

html {
  height: 100%;
  font: 62.5%/1.5 Helvetica, Arial, sans-serif;
  background: var(--background-color);
}

body {
	font-size: 1.5em;
	margin: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-content: stretch;
}

input, li, button {
	font-size: 1.5em;
}

video {
	width: 100%;
	vertical-align: bottom;
	border: 1px solid rgba(0,0,0,.1);
	border-top-color: rgba(0,0,0,.3);
	border-bottom-color: rgba(255,255,255,.3);
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#app {
	flex-direction: row;
	align-content: stretch;
}

#conference, #chat {
	flex-direction: column;
}

#app, #conference, #chat {
	display: flex;
	flex: 1;
	height: 100%;
}

#chat {
	width: 30%;
	flex-grow: 0;
	flex-shrink: 0;
}

#faces, #screens {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#input {
	margin: 10px;
}

#scroll {
	display: flex;
	flex: 1 1 auto;
	overflow: scroll;
	flex-direction: column-reverse;
}

.player {
	position: relative;
	flex: 1 1 20%;
	max-width: 50%;
	box-sizing: border-box;
	}
	.player:nth-child(n+6) {
		max-width: 20%;
	}

.player, #log {
	padding: 10px;
}

.controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
	}
	.controls button {
		font-weight: bold;
		cursor: pointer;
		}
	.controls .off {
		position: relative;
		}
		.controls .off:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			border-bottom: .15em solid #E61919;
			transform: skew(-25deg,-25deg);
			-webkit-transform: skew(-25deg,-25deg);
			}
