html {
  height: 100%;
  font: 62.5%/1.5 Helvetica, Arial, sans-serif;
  background: #FEFEFE;
}

body {
	font-size: 1.5em;
	margin: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-content: stretch;
}

input, li, button {
	font-size: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
}

video {
	width: 100%;
	vertical-align: bottom;
	border: 1px solid rgba(0,0,0,.1);
	border-top-color: rgba(0,0,0,.3);
	border-bottom-color: rgba(255,255,255,.3);
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#conference {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: -webkit-canvas(noise), #736F6E;
}

.player {
	position: relative;
	flex: 1 1 20%;
	max-width: 50%;
	box-sizing: border-box;
	}
	.player:nth-child(n+6) {
		max-width: 20%;
	}

.player, #log {
	padding: 10px;
}
#chat {
	margin: 10px;
}

#conference, #chat {
	flex: 0 0 auto;
}
#log {
	flex: 1 1 auto;
	overflow: scroll;

	background:
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}

.controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
	}
	.controls button {
		font-weight: bold;
		cursor: pointer;
		}
	.controls .off {
		position: relative;
		}
		.controls .off:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			border-bottom: .15em solid #E61919;
			transform: skew(-25deg,-25deg);
			-webkit-transform: skew(-25deg,-25deg);
			}
